.info--contacto
    position: relative
    z-index: 1000
    background-color: $color__gris
    font-family: 'Montserrat-Bold'
    a
        color: $color__blanco
        text-decoration: none
        &:hover
            color: $color__verde

.transparencia
    position: fixed
    z-index: 1
    top: 0
    bottom: 0
    left: 0
    width: 100px
    transition: .3s all
    &.active
        background-color: rgba(0, 0, 0, .2)
        width: 100%
        transition: .3s all

.fijo-izq
    position: fixed
    z-index: 100
    top: 0
    left: 0
    width: 100px
    height: 100vh
    background-color: $color__verde
    display: flex
    flex-direction: column
    justify-content: space-between
    transition: .3s all
    &.active
        transition: .3s all
        width: 250px
    .logo-empresa
        position: relative
        margin-top: 80px
        margin-left: 25px
        display: flex
        a
            img
                width: 50px
        .texto
            position: absolute
            left: -175px
            top: 0
            bottom: 0
            width: 150px
            transition: .3s all
            display: flex
            flex-direction: column
            justify-content: center
            &.active
                left: 75px
                transition: .3s all
            p
                text-transform: uppercase
                color: $color__blanco
                font-size: 24px
                font-weight: bold
                opacity: 0
                &.active
                    opacity: 1
    .navegador
        a
            position: relative
            margin: 20px 0
            margin-left: 25px
            display: flex
            justify-content: space-between
            &:hover 
                svg
                    transition: .3s all
                    fill: $color__gris-oscuro
                h2
                    color: $color__gris-oscuro !important
                    transition: .3s all 
            svg
                max-height: 50px
                width: 50px
                transition: .3s all
                fill: $color__blanco
                &.hover
                    fill: $color__gris-oscuro
                    transition: .3s all
            .texto
                position: absolute
                left: -175px
                top: 0
                bottom: 0
                display: flex
                align-items: center
                width: 150px
                transition: .3s all
                h2
                    text-transform: uppercase
                    color: $color__blanco
                    margin: 0
                    font-size: 16px
                    opacity: 0
                    &.hover
                        transition: .3s all
                        color: $color__gris-oscuro
                    &.active
                        opacity: 1
                &.active
                    left: 75px
                    transition: .3s all

    .informacion
        width: 100%
        .fondo
            position: relative
            width: 100%
            height: 30px
            background-color: $color__verde-claro
            margin-top: 10px
            display: flex
            align-items: center
            img
                margin-left: 40px
                width: 20px
                height: auto
            .texto
                flex-direction: column
                position: absolute
                left: -175px
                top: 0
                bottom: 0
                display: flex
                align-items: flex-start
                justify-content: center
                width: 150px
                transition: .3s all
                &.active
                    left: 100px
                    transition: .3s all
                p
                    font-size: 11px
                    color: $color__gris-oscuro
                    font-weight: bold
                    opacity: 0
                    &.active
                        opacity: 1
