@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-SemiBold.woff2"); }

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.woff2"); }

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-Bold.woff2"); }

@font-face {
  font-family: "icons";
  src: url("../fonts/fontello.woff2"); }

body {
  font-family: 'Montserrat-Light';
  color: #3f3936; }

a {
  outline: none;
  text-decoration: none; }

h2.titulo {
  text-transform: uppercase;
  font-family: 'Montserrat-Bold';
  color: #75716f;
  text-align: center;
  font-size: 2rem;
  padding: 4rem 0; }

button {
  outline: none; }

button:focus {
  outline: none; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8 */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120% */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3) */ }

.icon-google:before {
  content: '\e807'; }

.icon-twitter:before {
  content: '\e808'; }

.icon-facebook:before {
  content: '\e809'; }

.icon-localizador:before {
  content: '\e80a'; }

.icon-telefono:before {
  content: '\e80b'; }

.icon-horario:before {
  content: '\e80c'; }

.icon-email:before {
  content: '\e80d'; }

::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)*/
  border-radius: 0;
  background-color: #e0e0e0; }

::-webkit-scrollbar {
  width: 10px;
  background-color: #fff; }

::-webkit-scrollbar:horizontal {
  height: 0; }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #9ac322; }

.info--contacto {
  position: relative;
  z-index: 1000;
  background-color: #75716f;
  font-family: 'Montserrat-Bold'; }
  .info--contacto a {
    color: #ffffff;
    text-decoration: none; }
    .info--contacto a:hover {
      color: #9ac322; }

.transparencia {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }
  .transparencia.active {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all; }

.fijo-izq {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  background-color: #9ac322;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all; }
  .fijo-izq.active {
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    width: 250px; }
  .fijo-izq .logo-empresa {
    position: relative;
    margin-top: 80px;
    margin-left: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .fijo-izq .logo-empresa a img {
      width: 50px; }
    .fijo-izq .logo-empresa .texto {
      position: absolute;
      left: -175px;
      top: 0;
      bottom: 0;
      width: 150px;
      -webkit-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .fijo-izq .logo-empresa .texto.active {
        left: 75px;
        -webkit-transition: .3s all;
        -o-transition: .3s all;
        transition: .3s all; }
      .fijo-izq .logo-empresa .texto p {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
        opacity: 0; }
        .fijo-izq .logo-empresa .texto p.active {
          opacity: 1; }
  .fijo-izq .navegador a {
    position: relative;
    margin: 20px 0;
    margin-left: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .fijo-izq .navegador a:hover svg {
      -webkit-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all;
      fill: #3f3936; }
    .fijo-izq .navegador a:hover h2 {
      color: #3f3936 !important;
      -webkit-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all; }
    .fijo-izq .navegador a svg {
      max-height: 50px;
      width: 50px;
      -webkit-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all;
      fill: #ffffff; }
      .fijo-izq .navegador a svg.hover {
        fill: #3f3936;
        -webkit-transition: .3s all;
        -o-transition: .3s all;
        transition: .3s all; }
    .fijo-izq .navegador a .texto {
      position: absolute;
      left: -175px;
      top: 0;
      bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 150px;
      -webkit-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all; }
      .fijo-izq .navegador a .texto h2 {
        text-transform: uppercase;
        color: #ffffff;
        margin: 0;
        font-size: 16px;
        opacity: 0; }
        .fijo-izq .navegador a .texto h2.hover {
          -webkit-transition: .3s all;
          -o-transition: .3s all;
          transition: .3s all;
          color: #3f3936; }
        .fijo-izq .navegador a .texto h2.active {
          opacity: 1; }
      .fijo-izq .navegador a .texto.active {
        left: 75px;
        -webkit-transition: .3s all;
        -o-transition: .3s all;
        transition: .3s all; }
  .fijo-izq .informacion {
    width: 100%; }
    .fijo-izq .informacion .fondo {
      position: relative;
      width: 100%;
      height: 30px;
      background-color: #cbdd90;
      margin-top: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .fijo-izq .informacion .fondo img {
        margin-left: 40px;
        width: 20px;
        height: auto; }
      .fijo-izq .informacion .fondo .texto {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: absolute;
        left: -175px;
        top: 0;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 150px;
        -webkit-transition: .3s all;
        -o-transition: .3s all;
        transition: .3s all; }
        .fijo-izq .informacion .fondo .texto.active {
          left: 100px;
          -webkit-transition: .3s all;
          -o-transition: .3s all;
          transition: .3s all; }
        .fijo-izq .informacion .fondo .texto p {
          font-size: 11px;
          color: #3f3936;
          font-weight: bold;
          opacity: 0; }
          .fijo-izq .informacion .fondo .texto p.active {
            opacity: 1; }

main.inicio {
  position: relative;
  width: calc(100% - 100px);
  top: 0;
  left: 100px; }
  main.inicio .portada {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover; }
    main.inicio .portada ul li a {
      font-size: 2rem;
      color: #9ac322; }
      main.inicio .portada ul li a:hover {
        color: #ffffff; }
    main.inicio .portada h1 {
      font-family: 'Montserrat-ExtraBold';
      color: #9ac322;
      font-size: 3rem; }
      @media all and (min-width: 768px) {
        main.inicio .portada h1 {
          max-width: 570px;
          color: #9ac322;
          font-size: 4rem; } }
  main.inicio section.tratamientos .tratamiento {
    color: #3f3936;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ededed;
    height: 300px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all; }
    main.inicio section.tratamientos .tratamiento img {
      max-width: 80px;
      height: 40px;
      margin-bottom: 1rem; }
    main.inicio section.tratamientos .tratamiento h3 {
      font-family: 'Montserrat-Bold';
      text-align: center;
      padding: 0.25rem 0; }
      @media all and (max-width: 768px) {
        main.inicio section.tratamientos .tratamiento h3 {
          color: #9ac322; } }
    main.inicio section.tratamientos .tratamiento p {
      height: 0;
      opacity: 0;
      text-align: center;
      font-size: 15px; }
      @media all and (max-width: 768px) {
        main.inicio section.tratamientos .tratamiento p {
          height: auto;
          opacity: 1;
          -webkit-transition: .3s all;
          -o-transition: .3s all;
          transition: .3s all; } }
    main.inicio section.tratamientos .tratamiento:hover {
      background-color: #f4f4f4; }
    main.inicio section.tratamientos .tratamiento:hover h3 {
      color: #9ac322;
      -webkit-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all; }
    main.inicio section.tratamientos .tratamiento:hover p {
      height: auto;
      opacity: 1;
      -webkit-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all; }
  main.inicio section.nosotros p.subtitulo {
    max-width: 800px;
    text-align: center;
    margin: 0 auto; }
  main.inicio section.nosotros .image-soledad, main.inicio section.nosotros .image-gustavo {
    height: 400px;
    background-position: center top;
    background-size: cover; }
    @media all and (max-width: 768px) {
      main.inicio section.nosotros .image-soledad, main.inicio section.nosotros .image-gustavo {
        height: 300px; } }
    @media all and (max-width: 576px) {
      main.inicio section.nosotros .image-soledad, main.inicio section.nosotros .image-gustavo {
        height: 200px; } }
  main.inicio section.nosotros .info {
    background-color: #cbdd90;
    height: 400px;
    z-index: -100; }
    @media all and (max-width: 768px) {
      main.inicio section.nosotros .info {
        height: 300px; } }
    @media all and (max-width: 576px) {
      main.inicio section.nosotros .info {
        height: 200px; } }
  main.inicio section.nosotros .image-soledad {
    background-image: url("../img/home/soledad.jpg"); }
    main.inicio section.nosotros .image-soledad:hover .info-soledad {
      z-index: 100;
      right: 0; }
  main.inicio section.nosotros .image-gustavo {
    background-image: url("../img/home/gustavo.jpg"); }
    main.inicio section.nosotros .image-gustavo:hover .info-gustavo {
      z-index: 100;
      left: 0; }
  main.inicio section.instalaciones .owl-nav {
    display: none; }
  main.inicio section.instalaciones .owl-dots {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  main.inicio section.instalaciones .owl-theme .owl-dots .owl-dot.active span, main.inicio section.instalaciones .owl-theme .owl-dots .owl-dot:hover span {
    background: #9ac322; }
  main.inicio section.instalaciones .owl-carousel .owl-item .item img {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all; }
  main.inicio section.instalaciones .owl-carousel .owl-item.center .item img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all; }
  main.inicio section.contacto h4 {
    text-transform: uppercase;
    text-align: right;
    font-family: 'Montserrat-Bold'; }
  main.inicio section.contacto .nav {
    background-color: #b2b2b2; }
  main.inicio section.contacto .info-contacto {
    background-color: #ededed; }
  main.inicio section.contacto p {
    color: #878787; }
    main.inicio section.contacto p a {
      color: #878787;
      text-decoration: none; }
  main.inicio section.contacto .icono {
    font-size: 1.5rem;
    width: 50px;
    text-align: center; }
    @media all and (max-width: 576px) {
      main.inicio section.contacto .icono {
        font-size: 1rem; } }
  main.inicio section.contacto .icono-email {
    font-size: 1rem; }
    @media all and (max-width: 576px) {
      main.inicio section.contacto .icono-email {
        font-size: .75rem; } }
  main.inicio section.contacto .telefono:hover .icono, main.inicio section.contacto .horario:hover .icono, main.inicio section.contacto .direccion:hover .icono, main.inicio section.contacto .email:hover .icono {
    color: #9ac322; }
  main.inicio section.contacto .telefono:hover p, main.inicio section.contacto .horario:hover p, main.inicio section.contacto .direccion:hover p, main.inicio section.contacto .email:hover p {
    color: #3f3936; }
    main.inicio section.contacto .telefono:hover p a, main.inicio section.contacto .horario:hover p a, main.inicio section.contacto .direccion:hover p a, main.inicio section.contacto .email:hover p a {
      color: #3f3936; }

footer {
  position: relative;
  width: calc(100% - 100px);
  top: 0;
  left: 100px; }
  footer ul li a {
    color: #ffffff;
    font-size: 2rem; }
    footer ul li a:hover {
      color: #9ac322; }
    @media all and (min-width: 768px) {
      footer ul li a {
        font-size: 1rem; } }
  footer p {
    color: #ffffff; }
    @media all and (min-width: 768px) {
      footer p {
        font-size: .75rem; } }
  footer a {
    color: #ffffff; }
    @media all and (min-width: 768px) {
      footer a {
        font-size: .75rem; } }

.background-footer {
  width: calc(100% - 100px);
  left: 100px;
  position: absolute;
  bottom: 0;
  z-index: -100; }
  @media all and (max-width: 1100px) {
    .background-footer {
      bottom: 0px; } }

.background-home {
  width: 100%;
  position: absolute;
  bottom: -60px;
  z-index: -100; }

.background-tratamientos {
  width: 100%;
  position: absolute;
  bottom: -60px;
  z-index: -100; }

.background-instalaciones {
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: -100; }
  @media all and (max-width: 1100px) {
    .background-instalaciones {
      bottom: 20px; } }
  @media all and (max-width: 768px) {
    .background-instalaciones {
      bottom: 50px; } }
  @media all and (max-width: 576px) {
    .background-instalaciones {
      bottom: 30px; } }

.background-nosotros {
  width: 100%;
  position: absolute;
  bottom: -20px;
  z-index: -100; }
  @media all and (max-width: 1100px) {
    .background-nosotros {
      bottom: 0px; } }
  @media all and (max-width: 576px) {
    .background-nosotros {
      bottom: -20px; } }
